<!-- <p mat-dialog-title class="h3 text-right">خطا</p> -->
<div
  mat-dialog-content
  class="container my-3"
  [ngStyle]="{'direction': getDirection}"
>
  <p *ngFor="let msg of data.message">{{msg}}</p>
</div>
<div
  mat-dialog-actions
  class="d-flex text-center mx-2"
  [ngClass]="{'justify-content-center': data.action === 'INFO', 'justify-content-between': data.action !== 'INFO'}"
>
  <button
    *ngIf="data.action !== 'INFO'"
    mat-stroked-button
    (click)="onNoClick()"
  >
    {{'dialogCancel'|_}}
  </button>
  <button mat-flat-button color="accent" (click)="ok()">
    {{'dialogOk'|_}}
  </button>
</div>
