<div *ngIf="is_loggedin" class="container mt-4">
  <mat-card>
    <mat-card-content>
      <div>
        <p class="h3 text-center">
          {{"pageForgotpasswordAlreadyloggedin" | _}}
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="!is_loggedin" class="pt-5 d-flex justify-content-center">
  <mat-horizontal-stepper [linear]="true" #stepper class="col-10 col-lg-7">
    <mat-step>
      <ng-template
        *ngIf="stepper.selectedIndex == 0"
        matStepLabel
        class="text-wrap"
        ><p class="small m-0">
          {{"pageForgotpasswordEmailstep" | _}}
        </p></ng-template
      >
      <form
        class="d-flex flex-column mt-5 px-2 px-sm-4"
        [formGroup]="emailForm"
        (ngSubmit)="onRequest(stepper)"
        novalidate
      >
        <p class="h3 mb-3 text-center font-weight-normal">
          {{ "pageFotgotpasswordTitle" | _ }}
        </p>

        <mat-error *ngFor="let error of errors">{{error}}</mat-error>

        <mat-form-field class="my-2">
          <mat-label>{{"pageForgotpasswordEmaillbl" | _}}</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="{{ 'pageForgotpasswordEmailplaceholder' | _ }}"
            required="true"
          />
          <mat-error *ngIf="email?.invalid">
            {{formClientErrorService.getErrorMessage('email', emailForm)}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="my-2">
          <mat-label>{{'pageForgotpasswordNewpasswordlbl'|_}}</mat-label>
          <input
            matInput
            type="password"
            formControlName="new_password"
            minlength="8"
            required
            autocomplete="new-password"
          />
          <mat-error *ngIf="new_password?.errors"
            >{{formClientErrorService.getErrorMessage('new_password',
            emailForm)}}</mat-error
          > </mat-form-field
        ><mat-form-field class="my-2">
          <mat-label>{{'pageForgotpasswordNewpasswordrepeat'|_}}</mat-label>
          <input
            matInput
            type="password"
            formControlName="repeat_password"
            minlength="8"
            required
            autocomplete="new-password"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="repeat_password?.errors || emailForm.hasError('notSame')"
            >{{formClientErrorService.getErrorMessage('repeat_password',
            emailForm)}}</mat-error
          >
        </mat-form-field>
        <mat-radio-group
          [formControl]="choice"
          class="d-flex flex-wrap justify-content-between mb-4"
        >
          <label class="col-12 col-sm-4 mb-1"
            >{{'pageForgotpasswordValidationcodechoiceinput'|_}}<span
              >:</span
            ></label
          >
          <mat-radio-button class="col-12 col-sm-4 mb-1" value="email"
            >{{'pageForgotpasswordEmailchoice'|_}}</mat-radio-button
          >
          <mat-radio-button class="col-12 col-sm-4 mb-1" value="mobile"
            >{{'pageForgotpasswordSmschoice'|_}}</mat-radio-button
          >
        </mat-radio-group>
        <div class="d-flex justify-content-between">
          <a mat-button color="basic" routerLink="/signin">{{'cancel'|_}}</a
          ><button mat-flat-button color="accent" type="submit">
            {{'submit'|_}}
          </button>
        </div>
      </form> </mat-step
    ><mat-step
      ><ng-template
        *ngIf="stepper.selectedIndex === 1"
        matStepLabel
        class="text-wrap"
        ><p class="small m-0">
          {{'pageForgotpasswordValidationcodeinput'|_}}
        </p></ng-template
      >
      <form
        class="d-flex flex-column mt-5 px-2 px-sm-4"
        [formGroup]="codeForm"
        (ngSubmit)="onConfirm()"
        novalidate
      >
        <p class="h3 mb-3 text-center font-weight-normal">
          {{'pageForgotpasswordValidationcodeinput'|_}}
        </p>

        <mat-error *ngFor="let error of errors">{{error}}</mat-error>
        <mat-form-field class="my-2">
          <mat-label>{{'code'|_}}</mat-label>
          <input
            matInput
            formControlName="confirm_code"
            placeholder="{{'pageForgotpassword123input'|_:{number:anp.transform('12345')} }}"
            minlength="5"
            maxlength="5"
            required="true"
          />
          <mat-error *ngIf="confirm_code?.invalid">
            {{formClientErrorService.getErrorMessage('confirm_code', codeForm)}}
          </mat-error>
        </mat-form-field>

        <div class="d-flex justify-content-start">
          <button
            class="me-3 ms-auto"
            mat-button
            color="warn"
            (click)="stepper.previous()"
          >
            {{'pageForgotpasswordStepback' | _}}
          </button>
          <a mat-button color="basic" routerLink="/signin">{{'cancel' | _}}</a
          ><button mat-flat-button color="accent" type="submit">
            {{'submit'|_}}
          </button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
