<div class="container pt-5 d-flex justify-content-center">
  <mat-card class="col-10 col-lg-7">
    <div class="container d-flex justify-content-center">
      <p *ngIf="is_loggedin">{{'alreadySignedin'|_}}</p>
      <form
        *ngIf="!is_loggedin"
        class="d-flex flex-column mt-5 col-12"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        novalidate
      >
        <p class="h3 mb-3 text-center font-weight-normal">
          {{'pageSigninSigninlbl'|_}}
        </p>

        <mat-error *ngFor="let error of errors">{{(error)}}</mat-error>

        <mat-form-field class="my-2">
          <mat-label>{{'email'|_}}</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="{{'emailPlaceholder'|_}}"
            required="true"
          />
          <mat-error *ngIf="email?.invalid">
            {{formClientErrorService.getErrorMessage('email', form)}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="my-2">
          <mat-label>{{'password'|_}}</mat-label>
          <input
            matInput
            formControlName="password"
            type="password"
            placeholder="{{'passwordPlaceholder'|_}}"
            minlength="8"
            required="true"
          /><mat-error *ngIf="password?.invalid">
            {{formClientErrorService.getErrorMessage('password', form)}}
          </mat-error>
        </mat-form-field>

        <a class="mx-auto" routerLink="/signup"
          ><p>{{'pageSigninSignUpTitle'|_}}</p></a
        ><a class="mx-auto" routerLink="/forgot-password"
          ><p>{{'forgotPassword'|_}}</p></a
        >
        <button
          mat-flat-button
          color="accent"
          class="mt-4 col-3 mx-auto"
          type="submit"
        >
          {{'signin'|_}}
        </button>
      </form>
    </div>
  </mat-card>
</div>
