<div class="container my-5">
  <div class="py-2 d-flex justify-content-between">
    <div class="mb-3">
      <p class="h3 m-0">{{'pageTransactionTransactionsTitle'|_}}</p>
    </div>
  </div>
  <table mat-table [dataSource]="transactions" class="w-100">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>
        {{'pageTransactionTransactionIdentification'|_}}
      </th>
      <td mat-cell *matCellDef="let element">
        {{element.id.substring(0,8)}}...
      </td>
    </ng-container>
    <ng-container matColumnDef="date_created">
      <th mat-header-cell *matHeaderCellDef>{{'date'|_}}</th>
      <td mat-cell *matCellDef="let element">{{element.date_created}}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>{{'price'|_}}</th>
      <td mat-cell *matCellDef="let element">
        <components-price [price]="element.amount"></components-price>
      </td>
    </ng-container>
    <ng-container matColumnDef="invoice">
      <th mat-header-cell *matHeaderCellDef>{{'invoice'|_}}</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/invoice/{{element.invoice}}">{{element.invoice}}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="payment_status">
      <th mat-header-cell *matHeaderCellDef>{{'status'|_}}</th>
      <td mat-cell *matCellDef="let element">
        <button
          *ngIf="element.payment_status ==='paid'"
          mat-button
          class="price text-success"
          [disableRipple]="true"
        >
          <p class="h5 d-inline">{{'successfull'|_}}</p></button
        ><button
          *ngIf="element.payment_status ==='pending'"
          mat-button
          class="price text-warning"
          [disableRipple]="true"
        >
          <p class="h5 d-inline">{{'waitingForPayment'|_}}</p></button
        ><button
          *ngIf="element.payment_status ==='failed'"
          mat-button
          class="price text-danger"
          [disableRipple]="true"
        >
          <p class="h5 d-inline">{{'failed'|_}}</p>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns;"></tr>
  </table>
</div>
